<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type='text/css' href='./style/style.css'>
    <title>Document</title>
</head>

<body>

    <div class="login-wrapper">

        <h1 class="title">Login</h1>

        <div class="login-block">
            <form action="/users" method="post" class="inputForm">
                <input type="email" name="email" placeholder="Type email or login" class="input">
                <input type="text" name="password" placeholder="Type your password" class="input">
                <input type="submit" value="Send" class="button">
            </form>
        </div>

        <p>Not registered?<a class="registered-link" href="/register">Create account</a></p>

    </div>
</body>

</html>