extends container 
block content 
    div 
    | Dear #{userName} !
    br
    |Select the link below to log in to your BOOK STORE account and reset your password. This link will expire in 7d and can be used only once.
    br
    a(href=forgotPasswordUrl) Link to click

    div 
    | If you didn't request your password to be reset, you can ignore this message and your password will not change.

