doctype html 
html 
    head 
        style 
            include style.css
    body.body 
        div.greeting 
            | Hello! 
        div 
            block content 
        div 
            | Best regards
            br
            |Book Store
        