extends container 
block content 
    div 
    | Dear #{userName} !
    <br> 
    |Welcome to Book Store FAMILY!
    <br>
    |Lorem ipsum dolor sit amet, consectetur adipiscing elit. In volutpat faucibus turpis ac molestie. Donec in posuere lectus. In venenatis euismod odio id maximus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nulla leo enim, euismod a iaculis a, ullamcorper tempor eros. Curabitur interdum auctor lorem, sed sollicitudin est pellentesque vestibulum. Vivamus pellentesque a augue sit amet consectetur.

